experimental_monorepo_root = true

[tools]
python = "3.13.8"
"aqua:astral-sh/uv" = '0.10.4'
"aqua:BurntSushi/ripgrep" = '15.1.0'
"github:phiresky/ripgrep-all" = '0.10.10'
"aqua:tomnomnom/gron" = '0.7.1'
"github:jgm/pandoc" = '3.9'

[tasks.web]
alias = 'default'
run = 'uv run granian webapp.app:app.asgi'

[tasks.'update_dependencies:web']
run = [
  'uv lock -U',
  'uv sync --inexact',
  'cd core',
  'uv lock -U',
  'uv sync --inexact',
]

[tasks.update_dependencies]
depends = ["//:update_dependencies:web", "//desktop:update_dependencies"]

[env]
# Granian configuration
GRANIAN_HOST = '127.0.0.1'
GRANIAN_PORT = 5000
GRANIAN_WORKERS = 2
GRANIAN_THREADS = 1
GRANIAN_INTERFACE = 'asginl'
GRANIAN_RELOAD = false

# Django
ALLOWED_HOSTS = 'localhost 127.0.0.1 [::1]'

_.file = '.env'

[settings]
python.compile = true
