[tools]
python = "3.14"
"aqua:astral-sh/uv" = '0.9'  
"aqua:BurntSushi/ripgrep" = '14.1.1'
"aqua:phiresky/ripgrep-all" = '0.10.9'
"aqua:tomnomnom/gron" = '0.7.1'
"github:jgm/pandoc" = '3.8'

[tasks.default]
alias = 'default'
run = 'uv run granian webapp.app:app.asgi'

[env]
# Granian configuration
GRANIAN_HOST = '127.0.0.1'
GRANIAN_PORT = 5000
GRANIAN_WORKERS = 2
GRANIAN_THREADS = 1
GRANIAN_INTERFACE = 'asginl'
GRANIAN_RELOAD = false

# Django
ALLOWED_HOSTS = 'localhost 127.0.0.1 [::1]'

_.file = '.env'
