<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>باحث الصغير</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen">
    <div class="container mx-auto px-2 py-8">
      <h1 class="text-3xl font-bold mb-8 text-right">باحث الصغير</h1>
      <div class="rounded-lg shadow p-4">
        <div class="space-y-4">
          <div>
            <label for="directory" class="block text-sm font-medium text-gray-700 text-right">المسار</label>
            <select id="directory" name="directory" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-right"> {% for dir in directories %} <option value="{{ dir }}">{{ dir }}</option> {% endfor %} </select>
          </div>
          <div>
            <label for="file_filter" class="block text-sm font-medium text-gray-700 text-right">نوع الملف</label>
            <select id="file_filter" name="file_filter" class="my-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-right">
              <option value="*.txt">txt</option>
              <option value="*.csv">csv</option>
              <option value="*.doc">doc</option>
              <option value="*.docx">docx</option>
              <option value="*.json">json</option>
              <option value="*.md">md</option>
            </select>
          </div>
          <div>
            <label for="query" class="block text-sm font-medium text-gray-700 text-right">عبارة البحث</label>
            <input type="text" id="query" name="query" dir="auto" class="my-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-right" placeholder="ابحث عن شيء ما" />
          </div>
        </div>
        <div id="results-container">
          <div id="results" class="mt-8 space-y-4">
            <!-- Results will be loaded here -->
          </div>
          <div id="scroll-observer" class="h-4"></div>
        </div>
      </div>
      <div id="file-modal" class="fixed inset-0 z-50 hidden overflow-y-auto" hx-target="this" hx-swap="outerHTML"></div>
    </div>
    <script>
      function debounce(func, wait) {
        let timeout;
        return function executedFunction(...args) {
          const later = () => {
            clearTimeout(timeout);
            func(...args);
          };
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
        };
      }
            
      document.addEventListener('DOMContentLoaded', function() {
        let source;
        let resultsContainer = document.querySelector('#results');
        let currentIndex = 0;
        const resultsPerPage = 10;
        let allResults = [];
        let isLoading = false;
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if (entry.isIntersecting && allResults.length > currentIndex && !isLoading) {
              loadMoreResults();
            }
          });
        });
        observer.observe(document.querySelector('#scroll-observer'));
      
        function createResultElement(result) {
          const div = document.createElement('div');
          if (!result?.highlighted_text) return div;
          div.className = 'p-4 rounded-lg shadow';
          const pathSpan = document.createElement('span');
          pathSpan.textContent = result.path;
          pathSpan.classList.add("cursor-pointer", "text-blue-500", "hover:underline");
          pathSpan.addEventListener('click', () => htmx.ajax('GET', `/api/file?file=${encodeURIComponent(result.path)}`, '#file-modal'));
          const lineNumberSpan = document.createElement('span');
          lineNumberSpan.textContent = result.line_number;
          lineNumberSpan.classList.add("cursor-pointer", "text-blue-500", "hover:underline");
          lineNumberSpan.addEventListener('click', () => htmx.ajax('GET', `/api/file?line_number=${result.line_number}&file=${encodeURIComponent(result.path)}`, '#file-modal'));
        
          const lineInfoDiv = document.createElement('div');
          lineInfoDiv.dir = "auto";
          lineInfoDiv.className = "flex items-center gap-2 text-sm text-gray-600";
          lineInfoDiv.appendChild(pathSpan);
          lineInfoDiv.appendChild(document.createTextNode(": "));
          lineInfoDiv.appendChild(lineNumberSpan);
          div.appendChild(lineInfoDiv);
          div.insertAdjacentHTML('beforeend', `
            <div dir="auto" class="flex flex-col gap-1 bg-gray-50 mt-2 rounded p-2 overflow-x-auto">
              <span class="text-gray-500">${result.context_before}</span>
              <span>${result.highlighted_text}</span>
              <span class="text-gray-500">${result.context_after}</span>
            </div>
          `);
          return div;
        }

        function loadMoreResults() {
          isLoading = true;
          const batch = allResults.slice(currentIndex, currentIndex + resultsPerPage);
          batch.forEach(result => {
              resultsContainer.appendChild(createResultElement(result));
          });
          currentIndex += resultsPerPage;
          isLoading = false;
        }

        function performSearch() {
          if (source) source.close();
          allResults = [];
          currentIndex = 0;
          isLoading = false;
          resultsContainer.innerHTML = '';
      
          const query = document.getElementById('query').value;
          if (!query.trim()) return;
      
          const url = new URL('/api/search', window.location.origin);
          url.searchParams.append('query', query);
          url.searchParams.append('directory', document.getElementById('directory').value);
          url.searchParams.append('file_filter', document.getElementById('file_filter').value);
      
          source = new EventSource(url);
          source.onmessage = function(event) {
            try {
              const result = JSON.parse(event.data);
              
              if (result.complete) {
                source.close();
                if (currentIndex < allResults.length) loadMoreResults();
                return;
              }
      
              if (result.error) {
                console.error("Search error:", result.error);
                resultsContainer.innerHTML = `<p class="text-red-500">Error: ${result.error}</p>`;
                source.close();
                return;
              }
      
              if (result.highlighted_text) {
                allResults.push(result);
                if (currentIndex === 0) loadMoreResults();
              }
            } catch (error) {
              console.error("Error parsing SSE message:", error);
              resultsContainer.innerHTML = `<p class="text-red-500">Error processing search results. ${error}</p>`;
              source.close();
            }
          };
      
          source.onerror = function(error) {
            console.error("SSE Error:", error);
            resultsContainer.innerHTML = `<p class="text-red-500">Connection error occurred. ${error}</p>`;
            source.close();
          };
        }
      
        const debouncedSearch = debounce(performSearch, 500);
        document.getElementById('query').addEventListener('input', debouncedSearch);
        document.getElementById('directory').addEventListener('change', performSearch);
        document.getElementById('file_filter').addEventListener('change', performSearch);
      
        if (document.getElementById('query').value) performSearch();
      });

      document.body.addEventListener('htmx:afterSwap', (event) => {
        if (event.detail.target.id === 'file-modal') {
          const modal = document.getElementById('file-modal');
          modal.classList.remove('hidden');
    
          const closeModalButton = modal.querySelector('#close-modal');
          closeModalButton.addEventListener('click', () => {
            modal.classList.add('hidden');
          });
    
          modal.addEventListener('click', (event) => {
            if (event.target === modal) {
              modal.classList.add('hidden');
            }
          });
    
          const lineNumber = new URLSearchParams(window.location.search).get('line');
          const lineElement = modal.querySelector(`.line[data-line-number="${lineNumber}"`);
          setTimeout(() => {
            if (lineElement) lineElement.scrollIntoView({ behavior: 'smooth', block: 'center' })
          }, 500);
        }
      });
    </script>
  </body>
</html>